[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
pydantic = "*"
requests = "*"
boto3 = "*"
pyhumps = "*"
six = "*"
Flask = "*"
Authlib = "*"
pyjwt = "*"
sendgrid = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.8"
