{% extends "web/base.html" %}

{% block main %}
<div class="container with-sidebar">
    <section>
        <div class="inner">
            <h1>
                FAQ
            </h1>
            <h3>
                What data do I have to share?
            </h3>
            <p>
                We ask for data that will make Coffee Connections matches possible and to help us monitor impact:
            </p>
            <ul>
                <li>Your name</li>
                <li>Your email address</li>
                <li>Your organisation name</li>
                <li>Your job title</li>
                <li>A brief description about yourself (this is so that your match has some context about you before you meet)</li>
                <li>Where you’re based</li>
                <li>Where you rate your charity with digital</li>
            </ul>
            <p>
                We will only share your data with the people you are matched with, as part of an automated, random matching process.
            </p>
            <p>
                We’ll keep your data as long as the Coffee Connections initiative is running, or until you choose to opt out. To opt out, get in touch with Tori Ellaway on tori@wearecast.org.uk and we’ll delete your data.
            </p>
            <h3>
                How does the matching process work?
            </h3>
            <p>
                We send out matches every 2 months. The matching process is automated and completely random, but we try to avoid matching you with anyone from your organisation or who you've previously matched with.
            </p>
            <p>
                We’ll send you and your match an email introduction, then it’s over to you to arrange. During the pandemic, all meetings should take place online. We recommend a video call, but telephone works too if your internet connection isn’t great.
            </p>
            <p>
                To make Coffee Connections a good experience for everyone involved, we ask that participants make every effort to chat with their matches at some point.
            </p>
            <p>
                If you’ve been matched with the same person more than once, or you haven’t received a match in over 2 months, please let Tori Ellaway know on tori@wearecast.org.uk. 
            </p>
            <h3>
                What should we talk about?
            </h3>
Anything and everything! Here are some suggestions for questions to ask?

What are you working on at the moment?
What’s one problem you’d like help with?
What do you find helps you in your role?
What are you struggling with in your role?
Do you have any contacts who might be good for the other person to talk to? Can you introduce them?
Any events/training/reading you can recommend?
Is there something we haven’t answered here? 
Get in touch with Tori Ellaway on tori@wearecast.org.uk to ask a question or give very welcome feedback about Coffee Connections.
        </div>
    </section>
    <aside></aside>
</div>



{% endblock %}
