{% extends "web/base.html" %}

{% set nav = "home" %}

{% block main %}
<div class="container with-sidebar">
    <section>
        <div class="inner">
            <h1>Meet new people in the charity sector</h1>
            <p>
                More conversations and sharing in the charity sector can only be a good thing. That’s why we want to make it easier for people to connect with each other.

            </p>
            <h3>How does it work?</h3>
                <ul>
                    <li>You sign up (below)</li>
                    <li>Every 2 months we’ll match you with another person in the sector</li>
                    <li>You arrange to meet for a coffee and a chat online</li>
                </ul>
            <h3>Who is this for?</h3>
            <p>  
                Anyone who works within a social or voluntary organisation and has an interest in digital.
            </p>
            <p>
                This initiative was started by Nesta in 2012 – you can <a href="https://www.nesta.org.uk/blog/institutionalising-serendipity-via-productive-coffee-breaks/">read more about it here</a>.
            </p>
            <h3>How do I sign up?</h3>
            <p>
                Sign up with the form below, or if that doesn't work for you, email us at <a href="mailto:coffeeconnections@wearecast.org.uk">coffeeconnections@wearecast.org.uk</a>
            </p>
        </div>
    </section>
    <aside></aside>
</div>



{% endblock %}
